<!DOCTYPE html>
<html>
  <head>
    <title>Flash Cards</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <% unless controller_name == "sessions" %>
      <%= filestack_js_include_tag %>
      <%= javascript_include_tag 'application' %>
    <% end %>
  </head>
  <body class="admin">
    <% if controller_name == "sessions" %>
      <body>
        <%= yield %>
      </body>
    <% else %>
      <body>
        <div id="admin-framework">
          <div id="admin-row" class="row">
            <div id="admin-sidebar-background" class="col-xs-2"></div>
            <div id="admin-sidebar" class="col-xs-2">
              <%= button_to "Sign out", sign_out_path, { method: :delete, class: "sidebar-button" } %>
              <div id="admin-sidebar-body">
                <ul>
                  <li><a href="/quizzes">Quizzes</a></li>
                  <li><a href="/cards">Cards</a></li>
                  <hr />
                  <%= image_tag("flag-france") %>
                  <li><a href="/french_nouns">Nouns</a></li>
                  <li><a href="/french_verbs">Verbs</a></li>
                  <li><a href="/french_adjectives">Adjectives</a></li>
                  <li><a href="/french_countries">Countries</a></li>
                  <li><a href="/french_cities">Cities</a></li>
                  <li><a href="/french_miscs">Miscellaneous</a></li>
                  <hr />
                  <%= image_tag("flag-spain") %>
                  <li><a href="/spanish_nouns">Nouns</a></li>
                  <li><a href="/spanish_verbs">Verbs</a></li>
                  <li><a href="/spanish_adjectives">Adjectives</a></li>
                  <li><a href="/spanish_miscs">Miscellaneous</a></li>
                  <hr />
                  <li><a href="/vocabulary">Vocabulary</a></li>
                  <li><a href="/questions">Questions</a></li>
                  <li><a href="/tags">Tags</a></li>
                </ul>
              </div>
            </div>
            <div id="admin-right-column" class="col-xs-10">
              <div id="admin-right-column-content">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </body>
    <% end %>
  </body>
</html>
