<!DOCTYPE html>
<html>
  <head>
    <title>Flash Cards</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="admin">
    <% if controller_name == "sessions" %>
      <body>
        <%= yield %>
      </body>
    <% else %>
      <body>
        <div id="admin-framework">
          <div id="admin-row" class="row">
            <div id="admin-sidebar" class="col-xs-2 match-height-layout">
              <%= button_to "Sign out", sign_out_path, { method: :delete, class: "sidebar-button" } %>
              <div id="admin-sidebar-body">
                <ul>
                  <li><a href="/quizzes">Quizzes</a></li>
                  <li><a href="/questions">Questions</a></li>
                  <li><a href="/cards">Cards</a></li>
                  <hr />
                  <%= image_tag("flag-india") %>
                  <li><a href="/nouns">Nouns</a></li>
                  <li><a href="/verbs">Verbs</a></li>
                  <li><a href="/adjectives">Adjectives</a></li>
                  <li><a href="/adverbs">Adverbs</a></li>
                  <hr />
                  <%= image_tag("flag-spain") %>
                  <li><a href="/spanish_nouns">Nouns</a></li>
                  <hr />
                  <li><a href="/tags">Tags</a></li>
                </ul>
              </div>
            </div>
            <div id="admin-right-column" class="col-xs-10 match-height-layout">
              <div id="admin-right-column-content">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </body>
    <% end %>
  </body>
</html>
